.main{
    min-height: 100vh;
    z-index: 0;
}

.contents{
    width: 100%;
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

@media screen and (max-width: 2000px) {
    .contents{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media screen and (max-width: 1600px) {
    .contents{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 1200px) {
    .contents{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 900px) {
    .contents{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 700px) {
    .contents{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
        padding: 0px;
        gap: 0px;
    }
}


.main-items{
    padding: 10px;
    background-color: white;
    border: 1px solid #ececfb;
    /* border-right: 1px solid #ececfb; */

    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 1s;
}
.main-items:hover{
    transition: box-shadow 1s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-item-img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-item-detail{
    text-align: center;

}
.main-item-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.main-item-disc{
    font-size: 14px;
    color: #6e6e73;
    margin-bottom: 10px;
}
.price-sell{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}
.price-tmp{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.price-original{
    font-size: 14px;
    text-decoration: line-through;
}
.price-offer{
    font-size: 14px;
    color: orange;
    text-decoration:none;
}